html, body{
    margin: 0;	
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid black 1px;
    padding-bottom: 20px;
    width: 100%;
}

img{
    margin: 20px;
}

#logo{
    height: 135px;
    width: 450px;
}
img:hover{
    cursor: pointer;
}
#container{
    display: flex;
    width: 100%;
}
nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    background-color: red;
    border-radius: 20px;
    height: 400px;
    position: sticky;
    top: 0;
    right: 0;
}
#mainDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    background-color: #85E292;
}

/* //////////////////////////////////Louis/////////////////////////////////////// */

#search{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: black;
    font-family: "Fira Sans", Arial, sans-serif;
    padding-bottom: 20px;
    border-bottom: solid 1px black;
    width: 100%;
}
#searchText{
    font-size: 30px;
    border-radius: 10px;
    background-color: #1ED760;
    color: white;
    padding: 5px;
}
input::placeholder{
    color: #DFFFD6;
}

#imgRap{
    width: 75%;
    margin-top: -20px;
}

#startInt{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Fira Sans", Arial, sans-serif;
}

.hidden{
    display: none;
}