html{
    display: flex;
    flex-direction: column;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid black 1px;
    padding-bottom: 20px;
    width: 100%;
}

#logo{
    height: 135px;
    width: 450px;
}
img:hover{
    cursor: pointer;
}
body{
    display: flex;
    width: 100%;
}
nav{
    width: 30%;
    background-color: red;
}
#mainDiv{
    width: 70%;
    background-color: green;
}